body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/background/StartImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
    background-color: #c3151b;
    padding: 20px 30px;
    border-radius: 25px;
    border: 5px solid white;
    font-size: 26px;

    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: #fe670a;
    /* Green */
    color: white;
}